* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

header {
    padding: 40px;
    text-align: center;
    background: cornflowerblue;
    color: #000;
}

/* 
What happnes when we set the display property to flex?
TODO: Write your answer here
display: flex ထားလိုက်ရင် row က တစ်တန်းတည်းဖြစ်သွားသည်
*/

nav {
    display: flex;
    background-color: slateblue;
}

nav a {
    color: #000;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/* 
What is the flex-warp property?
TODO: Write your answer here 
*/
main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 1;
    background-color: paleturquoise;
    padding: 80px;
    text-align: center;
}

footer {
    padding: 20px;
    text-align: center;
    background: cornflowerblue;
    color: #000;
  }
  
  /* 
  What does the justify-content property do? 
  TODO: Write your answer here 
  */
  .products {
    flex: 4;
    background-color: palegreen;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* 
  What is the flex property a shorthand property for?
  What is it doing here? 
  TODO: Write your answer here 
  */
  .card {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
  }
  
  .card header {
    padding: 20px;
  }
  
  .card p {
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }
  
  /* 
  What does the flex-direction property define?
  What is it doing here? 
  TODO: Write your answer here 
  */
  @media screen and (max-width: 768px) {
    main,
    nav {
        flex-direction: column;
    }
  }