/* SECONDARY PAGE STYLES */
.hero {
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
}
.page-title {
    padding: 0 80px 15px 80px;
    font-size: 42px;
    font-weight: 400;
    font-style: italic;
    color: #fce228;
    display: inline-block;
    border-bottom: 4px solid #fce228;
}
.secondary-content {
    width: 80%;
    margin: 0 auto;
    color: rgb(4, 4, 0);
}
.secondary-content h3 {
    font-size: 25px;
    margin: 20px 0;
}
.secondary-content p {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 0;
}
.secondary-content ul {
    margin: 15px 20px;
}
.secondary-content li {
    color: rgb(166, 250, 239);
    margin: 10px 0;
}