* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Global styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornflowerblue;
}
.container {
    width: 80%;
    margin: auto;
}
header {
    background: #444;
    color: #eee;
    padding: 20px 0;
}
header .avatar {
    width: 80px;
    height: 80px;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.avatar {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border-radius: 50%;
}
nav {
    display: flex;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    color: #bbb;
    text-decoration: none;
}
#about {
    background-color: darkseagreen;
    font-size: 1.7rem;
    line-height: 2;
    padding: 25px;
    margin: 3%;
}
#work {
    background-color: darkgrey;
    font-size: 1.7rem;
    line-height: 2;
    padding: 25px;
    margin: 3%;
}
#contact {
    background-color: cornflowerblue;
    /* font-size: 1.7rem; */
    /* line-height: 2; */
    padding: 25px;
    margin: 3%;
}
/* Contact Area Detail Starts */
.contact {
    background: #024e76;
}
.contact h2 {
    color: #fce138;
}
.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-info > * {
    flex: 1;
    margin: 15px;
}
.contact-info iframe {
    height: 400px;
}
.contact-info div {
    color: white;
}
.contact-info h3 {
    color: #fce138;
    font-size: 32px;
}
.contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5rem;
    font-size: 16px;
    font-style: normal;
}
.contact-form input, .contact-form textarea {
    border: 1px solid rgb(75, 75, 149);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: rgb(75, 75, 149);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #eee;
}
.contact-form input:focus, .contact-form textarea:focus {
    background-color: #eee;
    outline: none;
}
.contact-form button {
    width: 100%;
    border: none;
    background: #fce446;
    color: #024e76;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}
.contact-form button:hover {
    color: #fce138;
    background: #39a6b2;
}
.contact-info a {
    color: #fce138;
}
/* Contact area Details Ends */

/* Hamburger menu style */
.hamburger-menu {
    display: none; /* Initially hide for larger screens */ 
}

@media screen and (max-width: 768px) {
    .header-content {
        flex-direction: column;
        align-items: center;
    }
    nav {
        margin-top: 20px;
    }
    nav ul {
        flex-direction: column;
        text-align: center;
    }
    nav ul li {
        margin: 10px 0;
    }
    .hamburger-menu {
        display: block;
        cursor: pointer;
    }
    .nav-links {
        display: none;
    }
    /* Make sections and footer flex columns */
    section,
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    section {
        padding: 30px 0;
    }
    section h2 {
        margin-bottom: 20px;
    }
}

.work-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}
.work-gallery a {
    margin-bottom: 20px; /* Add space between images */
}
.work-gallery img {
    width: 200px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.work-gallery img:hover {
    transform: scale(1.1);
}
footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
}

