.Free {
    background-color: lemonchiffon;
}

.headers {
    color: darkblue;
}

#email {
    background-color: rgb(212, 212, 39);
}

#github {
    background-color: rgb(17, 194, 17);
}

#portfolio {
    background-color: rgb(188, 27, 27);
}