/* universal selector */
* {
    font-family: 'Lucida Sans Unicode';
}
/* My Bio selector */
body {
    background-color: lemonchiffon;
}
header,
footer {
    width: 100%;
    height: 100px;
    line-height: 100px;
    color: azure;
    background-color: rgb(36, 37, 117);
}

figure {
    width: 200px;
    background-color: #f0ead6;
  }
  /* Myself selector */
.highlighted-text {
    font-weight: bolder;
}
  
/* My Contant Info selector */
#contact-section {
    background-color: #f0ead6;
}