section {
    width: 600px;
    height: 600px;
    text-align: center;
    border: 15px solid rgb(57, 45, 45);
  }
  
img {
   width: 200px;
   height: 200px;
   background-color: rgb(122, 179, 198);
   margin: 10px;
   padding: 30px;
   border: 3px solid rgb(35, 60, 10);
}